<%= form_with(model: publishing, local: true) do |form| %>
  <% if publishing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(publishing.errors.count, "error") %> prohibited this publishing from being saved:</h2>

      <ul>
      <% publishing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :publishing_name %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :publishing_date %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, id: :publishing_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
